<section class="d-flex flex-column justify-content-center align-items-center full-screen">
  <p class="m-0" style="font-weight: 500; font-size: 60px;">Billy Phoenix</p>
  <p class="m-0" style="font-size: 24px;">Full Stack Developer</p>
</section>
<section class="d-flex flex-column justify-content-center align-items-center full-screen">
  <section style="width: 50vw; text-align: center;">
    <p class="m-0" style="font-weight: 500; font-size: 36px;">About me</p>
    <p>I'm a software engineer with three years of web development experience, passionate about building innovative and
      impactful digital experiences. With a strong foundation in modern frameworks and technologies, I continuously
      refine my skills to stay ahead in the ever-evolving tech landscape. Driven by relentless curiosity and a
      commitment to continuous learning, I aim to push the boundaries of software engineering and contribute to
      meaningful change in the industry. As I grow, I aspire to become a leader and innovator, shaping the future of
      technology one line of code at a time.</p>
  </section>
</section>
<section class="d-flex flex-column justify-content-center align-items-center full-screen">
  <section style="width: 50vw; text-align: center;">
    <p class="m-0" style="font-weight: 500; font-size: 36px;">My Skills</p>
    <p></p>
    <section class="d-flex flex-row" style="text-align: center;">
      <section style="width: 33%;">
        <p>Frontend</p>
        <p>I have developed multiple web applications using modern front-end frameworks, including Angular, TypeScript, and JavaScript. My expertise extends to UI design, where I leverage Bootstrap and Tailwind CSS to create responsive and visually appealing interfaces.</p>
      </section>
      <section style="width: 33%;">
        <p>Backend</p>
        <p>I have experience developing backend systems and APIs using Golang, Python, and Node.js. I am proficient in building scalable and efficient server-side applications and integrating databases to create seamless full-stack solutions.</p>
      </section>
      <section style="width: 33%;">
        <p>Databases</p>
        <p>I have extensive experience working with PostgreSQL (PSQL), including database design, optimization, and complex query handling. Additionally, I have practical data analysis skills to extract insights, optimize performance, and support data-driven decision-making.</p>
      </section>
    </section>
    <p>You can also view my <a class="link" href="https://github.com/billlyp" target="_blank" rel="noopener noreferrer">Gitlab</a></p>
  </section>
</section>
<section class="d-flex flex-column justify-content-center align-items-center full-screen">
  <section style="width: 50vw; text-align: center;">
    <p class="m-0" style="font-weight: 500; font-size: 36px;">Contact Me</p>
    <section style="width: 50vw;">
      <form action="https://formspree.io/f/xqapdldv" method="post">
        <section class="d-flex flex-column" style="width: fit-content; margin: auto; margin-bottom: 1vh;">
          <label for="name" style="margin-right: 0.5vw;">Name</label>
          <input type="text" id="name" name="name" required style="width: 25vw;"><br>  
        </section>
        <section class="d-flex flex-column" style="width: fit-content; margin: auto; margin-bottom: 1vh;">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required style="width: 25vw;"><br>
        </section>
        <section class="d-flex flex-column" style="width: fit-content; margin: auto; margin-bottom: 1vh;">
        <label for="message">Message</label>
        <textarea id="message" name="message" required style="width: 30vw;"></textarea><br>
        </section>
        <input type="submit" value="Submit">
    </form>
    </section>
  </section>
</section>