<section class="d-flex flex-column justify-content-center align-items-center full-screen">
  <p class="m-0" style="font-weight: 500; font-size: 24px;">Hey, I'm Billy. A driven software engineer.</p>
  <p class="m-0" style="font-size: 60px;">Full Stack Developer</p>
</section>
<section class="d-flex flex-column justify-content-center align-items-center full-screen">
  <section style="width: 50vw; text-align: left;">
    <p class="m-0" style="font-weight: 500; font-size: 36px; margin-bottom: 1vh;">My Experience</p>
    <section>
      <p class="experience-title">Industry Placement Student</p>
      <section class="d-flex flew-row">
        <p style="font-weight: 500;">Ministry of Defence</p>
        <p style="margin-left: 1vw;">September 2024 - September 2025</p>
      </section>
      <p class="experience-description">Developed full-stack applications using a range of technologies, including Angular, Vue.js, and the Quasar framework to build responsive and interactive user interfaces, and Golang for creating robust backend services optimised for concurrency and performance. Additionally, I contributed to the development of a research tool using C++ and Unreal Engine, focusing on real-time data processing and visualisation. This experience enhanced my ability to integrate complex systems, optimise performance, and solve technical challenges across diverse platforms.</p>
    </section>
    <section>
      <p class="experience-title">Bsc (Hons) Software Engineering</p>
      <section class="d-flex flew-row">
        <p style="font-weight: 500;">University of Portsmouth</p>
        <p style="margin-left: 1vw;">September 2022 - Present</p>
      </section>
      <p class="experience-description">A strong technical foundation in software engineering through practical application of core principles. I engineered web applications using modern frameworks, implemented normalized relational schemas and optimized query performance, and conducted empirical usability evaluations to guide interface iteration. I applied advanced data structures and algorithmic strategies to solve computational problems, and utilised data mining and statistical techniques to process and analyse datasets.</p>
    </section>
    <p>You can also view my <a class="link" href="https://github.com/billlyp" target="_blank" rel="noopener noreferrer" style="color: #607EBC; font-weight: 500;">Gitlab</a></p>
  </section>
</section>
<section class="d-flex flex-column justify-content-center align-items-center full-screen">
  <section style="width: fit-content; text-align: center;">
    <p class="m-0" style="font-weight: 500; font-size: 36px; margin-bottom: 1vh;">My Skills</p>
    <section class="d-flex flex-row" style="margin-bottom: 1vh;">
      <section style="width: 6.25vw; margin: 1vw;">
        <p class="skill">Golang</p>
        <img src="/assets/golang.svg" style="width: 2.5vw;">
      </section>
      <section style="width: 6.25vw; margin: 1vw;">
        <p class="skill">TypeScript</p>
        <img src="/assets/ts.svg" style="width: 2.5vw;">
      </section>
      <section style="width: 6.25vw; margin: 1vw;">
        <p class="skill">PostreSQL</p>
        <img src="/assets/psql.svg" style="width: 2.5vw;">
      </section>
      <section style="width: 6.25vw; margin: 1vw;">
        <p class="skill">CSS</p>
        <img src="/assets/css.svg" style="width: 2.5vw;">
      </section>
      <section style="width: 6.25vw; margin: 1vw;">
        <p class="skill">Vue</p>
        <img src="/assets/vue.svg" style="width: 2.5vw;">
      </section>
    </section>
    <section class="d-flex flex-row">
      <section style="width: 6.25vw; margin: 1vw;">
        <p class="skill">C++</p>
        <img src="/assets/c++.svg" style="width: 2.5vw;">
      </section>
      <section style="width: 6.25vw; margin: 1vw;">
        <p class="skill">Node</p>
        <img src="/assets/node.svg" style="width: 2.5vw;">
      </section>
      <section style="width: 6.25vw; margin: 1vw;">
        <p class="skill">Quasar</p>
        <img src="/assets/quasar.svg" style="width: 2.5vw;">
      </section>
      <section style="width: 6.25vw; margin: 1vw;">
        <p class="skill">Angular</p>
        <img src="/assets/angular.svg" style="width: 2.5vw;">
      </section>
      <section style="width: 6.25vw; margin: 1vw;">
        <p class="skill">JavaScript</p>
        <img src="/assets/js.svg" style="width: 2.5vw;">
      </section>
    </section>
  </section>
</section>
<section class="d-flex flex-column justify-content-center align-items-center full-screen">
  <section style="width: 50vw; text-align: center;">
    <p class="m-0" style="font-weight: 500; font-size: 36px;">Contact Me</p>
    <section style="width: 50vw;">
      <form action="https://formspree.io/f/xqapdldv" method="post">
        <section class="d-flex flex-column" style="width: 40vw; margin: auto;">
          <p style="margin: auto; margin-left: 0; margin-bottom: 0.5vh;">Name</p>
          <input class="contact-me-input" type="text" id="name" name="name" required style="width: 40vw;"><br>  
        </section>
        <section class="d-flex flex-column" style="width: 40vw; margin: auto;">
          <p style="margin: auto; margin-left: 0; margin-bottom: 0.5vh;">Email</p>
          <input class="contact-me-input" type="email" id="email" name="email" required style="width: 40vw;"><br>
        </section>
        <section class="d-flex flex-column" style="width: 40vw; margin: auto;">
          <p style="margin: auto; margin-left: 0; margin-bottom: 0.5vh;">Message</p>
          <textarea class="contact-me-input" id="message" name="message" required style="width: 40vw;"></textarea><br>
        </section>
        <input class="contact-me-submit" type="submit" value="Submit">
    </form>
    </section>
  </section>
</section>